# Clion
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/encodings.xml
!.idea/modules.xml
!.idea/vcs.xml
cmake-build-*/

# C/C++
*.a
*.app
*.d
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.so
*.so.*
*.su
*.x86_64

# CMake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
Testing
_deps
cmake_install.cmake
compile_commands.json
install_manifest.txt
